# Feature Engineering II

After this encounter you should be able to 
- understand and apply transformer classes to your datasets,
- understand and apply pipeline classes to your dataset,

(Concepts are the same as in the intro to FE, how we transform the data is different)

In [1]:
# stuff you know already
import pandas as pd

In [2]:
# new stuff !!
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

### 1. Get Data

In [3]:
df = pd.read_csv("all_penguins_clean.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   studyName            344 non-null    object
 1   Sample Number        344 non-null    int64
 2   Species              344 non-null    object
 3   Region               344 non-null    object
 4   Island               344 non-null    object
 5   Stage                344 non-null    object
 6   Individual ID        344 non-null    object
 7   Clutch Completion    344 non-null    object
 8   Date Egg             344 non-null    object
 9   Culmen Length (mm)   342 non-null    float64
 10  Culmen Depth (mm)    342 non-null    float64
 11  Flipper Length (mm)  342 non-null    float64
 12  Body Mass (g)        342 non-null    float64
 13  Real ID              344 non-null    object
 14  Sex                  334 non-null    object
dtypes: float64(4), int64(1), object(10)
memory usage: 40.4+ KB

In [5]:
df

,studyName,Sample Number,Species,Region,Island,Stage,Individual ID,Clutch Completion,Date Egg,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Real ID,Sex
0,PAL0708,1,Adelie,Anvers,Torgersen,"Adult, 1 Egg Stage",N1A1,Yes,11/11/07,39.1,18.7,181.0,3750.0,A_0,MALE
1,PAL0708,2,Adelie,Anvers,Torgersen,"Adult, 1 Egg Stage",N1A2,Yes,11/11/07,39.5,17.4,186.0,3800.0,A_1,FEMALE
2,PAL0708,3,Adelie,Anvers,Torgersen,"Adult, 1 Egg Stage",N2A1,Yes,11/16/07,40.3,18.0,195.0,3250.0,A_2,FEMALE
3,PAL0708,4,Adelie,Anvers,Torgersen,"Adult, 1 Egg Stage",N2A2,Yes,11/16/07,NaN,NaN,NaN,NaN,A_3,NaN
4,PAL0708,5,Adelie,Anvers,Torgersen,"Adult, 1 Egg Stage",N3A1,Yes,11/16/07,36.7,19.3,193.0,3450.0,A_4,FEMALE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
339,PAL0910,120,Gentoo,Anvers,Biscoe,"Adult, 1 Egg Stage",N38A2,No,12/1/09,NaN,NaN,NaN,NaN,G_339,NaN
340,PAL0910,121,Gentoo,Anvers,Biscoe,"Adult, 1 Egg Stage",N39A1,Yes,11/22/09,46.8,14.3,215.0,4850.0,G_340,FEMALE
341,PAL0910,122,Gentoo,Anvers,Biscoe,"Adult, 1 Egg Stage",N39A2,Yes,11/22/09,50.4,15.7,222.0,5750.0,G_341,MALE
342,PAL0910,123,Gentoo,Anvers,Biscoe,"Adult, 1 Egg Stage",N43A1,Yes,11/22/09,45.2,14.8,212.0,5200.0,G_342,FEMALE
343,PAL0910,124,Gentoo,Anvers,Biscoe,"Adult, 1 Egg Stage",N43A2,Yes,11/22/09,49.9,16.1,213.0,5400.0,G_343,MALE

In [6]:
df = df[
    ~df["Real ID"].isin(["A_3","G_339"])
    ]

In [7]:
df.isna().sum()

studyName              0
Sample Number          0
Species                0
Region                 0
Island                 0
Stage                  0
Individual ID          0
Clutch Completion      0
Date Egg               0
Culmen Length (mm)     0
Culmen Depth (mm)      0
Flipper Length (mm)    0
Body Mass (g)          0
Real ID                0
Sex                    8
dtype: int64

### 2. Train-Test Split

In [8]:
X = df[["Region","Sex", "Flipper Length (mm)", "Body Mass (g)"]]
y = df["Species"]

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=42)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((256, 4), (86, 4), (256,), (86,))

### 3. Explore the Data

### 4. Feature Engineering

In [10]:
numeric = ["Flipper Length (mm)", "Body Mass (g)"]
categoricals = ["Region", "Sex"]

4.1 Use Column Transformers to transform cols of different data types

In [11]:
initial_transformation = ColumnTransformer( # we pass a list of tuples, with a descriptor, the Class we want to call and the col we want to transform
    [
        ("imputer", SimpleImputer(strategy="most_frequent"), ["Sex"]),
        ("encoder", OneHotEncoder(handle_unknown="ignore", sparse=False), ["Region"]),
        ("scaler", StandardScaler(), numeric),
    ]
)

In [12]:
X_train_FE = initial_transformation.fit_transform(X_train)

In [13]:
initial_transformation.transform(X_test)

array([['FEMALE', 1.0, 0.5695209023045531, 0.7542782882268587],
       ['MALE', 1.0, -0.15224816200220725, -0.5495598068372238],
       ['FEMALE', 1.0, -0.7296634134476155, -0.39055516109770155],
       ['MALE', 1.0, -0.36877888129423536, 0.2454634218603875],
       ['MALE', 1.0, -0.4409557877249114, 0.11825970526876968],
       ['FEMALE', 1.0, 0.497343995873877, 0.11825970526876968],
       ['MALE', 1.0, -0.00789434914085519, 0.11825970526876968],
       ['FEMALE', 1.0, -0.7296634134476155, -0.6449625942809372],
       ['MALE', 1.0, 1.5078206859033414, 1.962713595847228],
       ['MALE', 1.0, -1.3070786648930237, -0.8357681691683638],
       ['MALE', 1.0, -0.15224816200220725, -0.2633514445060837],
       ['MALE', 1.0, 1.0025823408886092, 1.5175005877765655],
       ['FEMALE', 1.0, 0.5695209023045531, 0.4998708550436231],
       ['MALE', 1.0, 1.0025823408886092, 1.3902968711849477],
       ['FEMALE', 1.0, -0.2244250684328833, -0.4859579485414149],
       ['MALE', 1.0, -0.36877888129423536, -0.39055516109770155],
       ['MALE', 1.0, -0.8740172263089676, -1.121976531499504],
       ['FEMALE', 1.0, -0.4409557877249114, -0.9629718857599817],
       ['FEMALE', 1.0, -1.667963197046404, -1.2173793189432174],
       ['FEMALE', 1.0, -1.0905479456009957, -1.1537774606474085],
       ['FEMALE', 1.0, -0.5853096005862635, -0.7721663108725549],
       ['FEMALE', 1.0, -1.0905479456009957, -0.8357681691683638],
       ['FEMALE', 1.0, 0.7860516215965812, 0.6906764299310498],
       ['FEMALE', 1.0, -1.0183710391703196, -1.3445830355348352],
       ['MALE', 1.0, -0.8018403198782915, 0.05465784697296078],
       ['MALE', 1.0, 0.28081327658184896, 0.11825970526876968],
       ['MALE', 1.0, -0.2966019748635593, 0.7224773590789543],
       ['MALE', 1.0, -0.7296634134476155, -1.0265737440557905],
       ['FEMALE', 1.0, -0.5853096005862635, -1.0265737440557905],
       ['FEMALE', 1.0, 1.5078206859033414, 0.849681075670572],
       ['FEMALE', 1.0, -0.08007125557153122, -1.0265737440557905],
       ['FEMALE', 1.0, -1.3792555713236998, -1.3445830355348352],
       ['MALE', 1.0, -1.2349017584623476, -0.8357681691683638],
       ['FEMALE', 1.0, 0.8582285280272571, 0.9450838631142854],
       ['MALE', 1.0, -0.4409557877249114, -0.2633514445060837],
       ['FEMALE', 1.0, -1.451432477754376, -0.7403653817246505],
       ['MALE', 1.0, 0.06428255728982084, -0.5177588776893194],
       ['FEMALE', 1.0, 0.8582285280272571, 0.563472713339432],
       ['MALE', 1.0, -0.7296634134476155, 0.4998708550436231],
       ['MALE', 1.0, -1.2349017584623476, -0.39055516109770155],
       ['MALE', 1.0, -0.5131326941555874, -0.8357681691683638],
       ['FEMALE', 1.0, -0.5853096005862635, -0.9629718857599817],
       ['MALE', 1.0, 1.3634668730419894, 1.5175005877765655],
       ['MALE', 1.0, 0.497343995873877, 1.4538987294807566],
       ['FEMALE', 1.0, -1.5957862906157279, -1.5671895395701663],
       ['FEMALE', 1.0, -0.36877888129423536, -0.8993700274641728],
       ['MALE', 1.0, 1.5799975923340175, 1.7083061626639924],
       ['MALE', 1.0, 1.7243514051953697, 1.5175005877765655],
       ['FEMALE', 1.0, -0.8018403198782915, -0.6449625942809372],
       ['FEMALE', 1.0, -0.4409557877249114, -1.121976531499504],
       ['FEMALE', 1.0, 0.6416978087352291, 0.2454634218603875],
       ['FEMALE', 1.0, -1.0183710391703196, -1.0901756023515996],
       ['FEMALE', 1.0, 0.6416978087352291, -0.008944011322848127],
       ['MALE', 1.0, -0.5853096005862635, -0.008944011322848127],
       ['FEMALE', 1.0, -1.2349017584623476, -1.7261941853096885],
       ['MALE', 1.0, -1.0183710391703196, -1.2173793189432174],
       ['FEMALE', 1.0, -1.451432477754376, -1.7261941853096885],
       ['MALE', 1.0, 2.0852359373487497, 2.0899173124388457],
       ['MALE', 1.0, 2.0130590309180736, 2.026315454143037],
       ['MALE', 1.0, -1.3792555713236998, -0.9947728149078862],
       ['FEMALE', 1.0, 0.9304054344579332, 0.563472713339432],
       ['MALE', 1.0, 1.2912899666113133, 1.6447043043681835],
       ['FEMALE', 1.0, 1.2912899666113133, 0.8178801465226676],
       ['MALE', 1.0, 1.1469361537499614, 2.0899173124388457],
       ['FEMALE', 1.0, -1.0183710391703196, -1.6625923270138796],
       ['MALE', 1.0, -0.2966019748635593, -0.07254586961865703],
       ['FEMALE', 1.0, -0.7296634134476155, -0.6449625942809372],
       ['MALE', 1.0, -0.2966019748635593, 0.3726671384520053],
       ['MALE', 1.0, -0.9461941327396436, -0.13614772791446594],
       ['MALE', 1.0, -0.36877888129423536, -0.1679486570623704],
       ['FEMALE', 1.0, -0.5853096005862635, -0.9311709566120773],
       ['FEMALE', 1.0, -1.1627248520316718, -1.0265737440557905],
       ['MALE', 1.0, 2.0852359373487497, 1.6447043043681835],
       ['MALE', 1.0, 1.9408821244873977, 1.7719080209598013],
       ['MALE', 1.0, 1.4356437794726655, 1.5811024460723744],
       ['FEMALE', 1.0, -1.0183710391703196, -0.8357681691683638],
       ['MALE', 1.0, 1.9408821244873977, 1.6447043043681835],
       ['FEMALE', 1.0, -0.5131326941555874, -0.8675690983162684],
       ['FEMALE', 1.0, 0.6416978087352291, 0.6270745716352409],
       ['MALE', 1.0, -0.4409557877249114, 0.2454634218603875],
       ['FEMALE', 1.0, -1.3070786648930237, -1.4399858229785485],
       ['MALE', 1.0, 1.5078206859033414, 1.4538987294807566],
       ['MALE', 1.0, 0.497343995873877, 0.11825970526876968],
       ['MALE', 1.0, 2.1574128437794258, 1.8355098792556102],
       ['MALE', 1.0, -0.5853096005862635, -0.5813607359851283],
       ['FEMALE', 1.0, -1.2349017584623476, -1.121976531499504]],
      dtype=object)

In [14]:
clf = LogisticRegression()

In [15]:
#clf.fit(X_train_FE, y_train) doesn't work cos we need to further "feature engineer" to account for a linear model

- making predictions with a linear model will raise an error, cos we need to pass numeric data to it. 
- this means that we need to transform the "Sex"-column in addition to imputation (i.e. "one-hot-encoding").
=> using the Pipeline class of sklearn we can do this in one go.

4.2 Use pipelines for applying transformations in steps

In [16]:
pipeline_sex = Pipeline( # again we pass tuples but without the need to specify a col (since we do that in the ColumnTransformer())
    [
        ("imputer", SimpleImputer(strategy="most_frequent")),
        ("encoder", OneHotEncoder(handle_unknown="ignore", sparse=False, drop="if_binary"))
    ]
)

In [17]:
final_transformation = ColumnTransformer(
    [
        ("transform twice Sex-col", pipeline_sex, ["Sex"]),
        ("encoder", OneHotEncoder(handle_unknown="ignore", sparse=False), ["Region"]),
        ("scaler", StandardScaler(), numeric),
    ]
)

In [18]:
X_train_FE = final_transformation.fit_transform(X_train)

In [19]:
X_test_FE = final_transformation.transform(X_test)

In [20]:
clf.fit(X_train_FE, y_train)

LogisticRegression()

In [25]:
# clf.predict_proba(X_test_FE)

array([[4.96623617e-03, 2.32063731e-02, 9.71827391e-01],
       [4.88157670e-01, 5.07972636e-01, 3.86969427e-03],
       [6.93176652e-01, 2.84660918e-01, 2.21624303e-02],
       [6.65521064e-01, 3.21082574e-01, 1.33963626e-02],
       [6.93425689e-01, 2.99201731e-01, 7.37258017e-03],
       [2.76075681e-02, 1.39176928e-01, 8.33215504e-01],
       [4.55719814e-01, 5.09074731e-01, 3.52054549e-02],
       [6.81054969e-01, 3.07178672e-01, 1.17663589e-02],
       [1.44041875e-04, 2.27632584e-03, 9.97579632e-01],
       [9.16149562e-01, 8.38320902e-02, 1.83474311e-05],
       [5.12229440e-01, 4.79655182e-01, 8.11537879e-03],
       [4.15996331e-03, 2.55347240e-02, 9.70305313e-01],
       [8.93859628e-03, 4.58748015e-02, 9.45186602e-01],
       [5.58994634e-03, 3.59593468e-02, 9.58450707e-01],
       [3.92606361e-01, 5.06624063e-01, 1.00769576e-01],
       [6.19489320e-01, 3.77834132e-01, 2.67654828e-03],
       [7.91559303e-01, 2.08383066e-01, 5.76311245e-05],
       [5.03478638e-01, 4.81403373e-01, 1.51179895e-02],
       [9.33728201e-01, 6.62168332e-02, 5.49656369e-05],
       [8.01779603e-01, 1.97445678e-01, 7.74718876e-04],
       [5.97497341e-01, 3.87805390e-01, 1.46972684e-02],
       [8.18929101e-01, 1.79362940e-01, 1.70795865e-03],
       [2.16944175e-03, 1.66981695e-02, 9.81132389e-01],
       [7.63102799e-01, 2.36250452e-01, 6.46749017e-04],
       [8.32170664e-01, 1.66376355e-01, 1.45298078e-03],
       [2.94464840e-01, 6.20197550e-01, 8.53376102e-02],
       [6.39786399e-01, 3.03377836e-01, 5.68357649e-02],
       [7.41197475e-01, 2.58670866e-01, 1.31658115e-04],
       [5.79324066e-01, 4.12975615e-01, 7.70031848e-03],
       [5.51047714e-05, 1.95249259e-03, 9.97992403e-01],
       [3.03305512e-01, 6.55927499e-01, 4.07669891e-02],
       [8.76970018e-01, 1.22887620e-01, 1.42361891e-04],
       [9.03135842e-01, 9.68389867e-02, 2.51715936e-05],
       [8.51798466e-04, 6.99497223e-03, 9.92153229e-01],
       [6.66278164e-01, 3.30907961e-01, 2.81387538e-03],
       [9.12232965e-01, 8.73080110e-02, 4.59024281e-04],
       [3.73428148e-01, 6.17954298e-01, 8.61755403e-03],
       [2.11361726e-03, 1.99785033e-02, 9.77907879e-01],
       [8.29217170e-01, 1.64866353e-01, 5.91647699e-03],
       [9.16523811e-01, 8.34011822e-02, 7.50067014e-05],
       [6.56101369e-01, 3.43400187e-01, 4.98443608e-04],
       [5.84165586e-01, 4.06778100e-01, 9.05631394e-03],
       [8.11474828e-04, 1.10048197e-02, 9.88183705e-01],
       [4.37678351e-02, 9.06578218e-02, 8.65574343e-01],
       [9.13599676e-01, 8.63682160e-02, 3.21084517e-05],
       [4.66591798e-01, 5.10666277e-01, 2.27419248e-02],
       [1.91218662e-04, 3.88914515e-03, 9.95919636e-01],
       [1.56525021e-04, 4.68983826e-03, 9.95153637e-01],
       [7.15655252e-01, 2.75460615e-01, 8.88413281e-03],
       [4.91568219e-01, 4.98385026e-01, 1.00467554e-02],
       [1.14775706e-02, 7.58111463e-02, 9.12711283e-01],
       [7.79150755e-01, 2.19627199e-01, 1.22204657e-03],
       [1.95217327e-02, 1.41620600e-01, 8.38857668e-01],
       [7.49986816e-01, 2.46986835e-01, 3.02634858e-03],
       [8.18601152e-01, 1.81296611e-01, 1.02237106e-04],
       [8.34297027e-01, 1.65678076e-01, 2.48974155e-05],
       [8.78973726e-01, 1.20985549e-01, 4.07254464e-05],
       [7.53903292e-06, 4.04133410e-04, 9.99588328e-01],
       [1.22353769e-05, 5.72999799e-04, 9.99414765e-01],
       [9.23521045e-01, 7.64699099e-02, 9.04557089e-06],
       [1.52443900e-03, 1.68849545e-02, 9.81590607e-01],
       [8.31682366e-04, 9.18437579e-03, 9.89983942e-01],
       [1.60140152e-04, 3.56805320e-03, 9.96271807e-01],
       [5.51758419e-04, 3.76587527e-03, 9.95682366e-01],
       [7.41572358e-01, 2.58136460e-01, 2.91181882e-04],
       [6.06566680e-01, 3.85560860e-01, 7.87246011e-03],
       [6.81054969e-01, 3.07178672e-01, 1.17663589e-02],
       [6.33893357e-01, 3.41949431e-01, 2.41572114e-02],
       [8.64467944e-01, 1.35040906e-01, 4.91149517e-04],
       [6.37239013e-01, 3.58043150e-01, 4.71783725e-03],
       [5.86521031e-01, 4.03658928e-01, 9.82004056e-03],
       [8.32311424e-01, 1.66902466e-01, 7.86109438e-04],
       [2.21144658e-05, 1.39686447e-03, 9.98581021e-01],
       [3.14861484e-05, 1.38206473e-03, 9.98586449e-01],
       [5.01701116e-04, 7.78798214e-03, 9.91710317e-01],
       [7.93933336e-01, 2.03762233e-01, 2.30443165e-03],
       [4.28071147e-05, 1.96918850e-03, 9.97988004e-01],
       [5.50978230e-01, 4.34047652e-01, 1.49741183e-02],
       [4.83246559e-03, 2.77309279e-02, 9.67436606e-01],
       [7.01172125e-01, 2.88686403e-01, 1.01414718e-02],
       [8.54512793e-01, 1.45333946e-01, 1.53261737e-04],
       [4.89644327e-04, 9.33418356e-03, 9.90176172e-01],
       [1.93421168e-01, 6.55481335e-01, 1.51097497e-01],
       [1.00220026e-05, 6.91419849e-04, 9.99298558e-01],
       [7.10384258e-01, 2.88898107e-01, 7.17634324e-04],
       [8.49045948e-01, 1.50496609e-01, 4.57443045e-04]])

In [23]:
clf.score(X_train_FE, y_train) # note how sklearn implements the predictions and the scores them "under the hood", so need to call m.predict()

0.828125

In [24]:
clf.score(X_test_FE, y_test)

0.8372093023255814